# Question 1

In [ ]:
class People :
  def __init__(self, name, age):
    self.name = name
    self.age = age
  
  def introduce(self):
    print('My name is', self.name, end='. ')
    print("I'm ", self.age, ' years old.')

In [ ]:
John = People('John', 23)
John.introduce()

My name is John. I'm  23  years old.

# Question 2

In [ ]:
class Human :
  def __init__(self, name, age):
    self.name = name
    self.age = age
  
  def aging(self, years) :
    print('Before :', self.age, 'years old')
    self.age = self.age + years
    print('After :', self.age, 'years old')

In [ ]:
John = Human('John', 23)
John.aging(10)

Before : 23 years old
After : 33 years old

# Question 3

In [1]:
class ComplexNumber :
  def __init__(self, r, i):
    self.r = r
    self.i = i

  def get_value(self):
    print(f'{self.r} + {self.i}i')

In [2]:
Z = ComplexNumber(2, 4)
Z.get_value()

2 + 4i

# Question 4

In [ ]:
class Circle :
  def __init__(self, radius):
    self.radius = radius
  
  def get_area(self):
    import math
    return math.pi*self.radius**2
  
  def get_perimeter(self):
    import math
    return 2*math.pi*self.radius

In [ ]:
circle_A = Circle(32)
circle_B = Circle(16)
print("Area Circle A :", circle_A.get_area())
print("Perimeter Circle A :", circle_A.get_perimeter())
print("Area Circle B :", circle_B.get_area())
print("Perimeter Circle B :", circle_B.get_perimeter())

Area Circle A : 3216.990877275948
Perimeter Circle A : 201.06192982974676
Area Circle B : 804.247719318987
Perimeter Circle B : 100.53096491487338

# Question 5

In [ ]:
class Book :
  def __init__(self, book_name, book_status='available'):
    self.book_name = book_name
    self.book_status = book_status

  def borrow_book(self):
    if self.book_status == 'available':
      print('borrow successfully')
      self.book_status = 'unavailable'
    else :
      print('borrow unsuccessfully')
  
  def return_book(self):
    if self.book_status == 'unavailable':
      print('return successfully')
      self.book_status = 'available'
    else :
      print('return unsuccessfully')

In [ ]:
Book_A = Book('AI Superpowers')
print('Book status :', Book_A.book_status)
Book_A.borrow_book()
print('Book status :', Book_A.book_status)
Book_A.return_book()
print('Book status :', Book_A.book_status)

Book status : available
borrow successfully
Book status : unavailable
return successfully
Book status : available

# Question 6

In [ ]:
class Car :
  def __init__(self, brand, model, year, color):
    self.brand = brand
    self.model = model
    self.year = year
    self.color = color
  
  def new_color(self, color) :
    self.color = color

In [ ]:
car_A = Car('Honda', 'Civic', '2019', 'Black')
car_A.new_color('Red')
print('color =', car_A.color)

color = Red

# Question 7

In [ ]:
class Dog :
  def __init__(self, breed, color, height, weight):
    self.breed = breed
    self.color = color
    self.height = height
    self.weight = weight
  
  def growth(self):
    self.height = self.height*1.1
    self.weight = self.weight*1.1

In [ ]:
dog_A = Dog('Jack Russell Terrier', 'White', 30, 7)
dog_A.growth()
print('height =', dog_A.height)
print('weight =', dog_A.weight)

height = 33.0
weight = 7.700000000000001

# Question 8

In [ ]:
class Stats :
  def __init__ (self, data):
    self.data = data
  
  def mean(self):
    mean = sum(self.data) / len(self.data)
    return mean

  def min(self):
    _min = min(self.data)
    return _min
  
  def max(self):
    _max = max(self.data)
    return _max
  
  def summary(self):
    print("Mean :", self.mean())
    print("Min :", self.min())
    print("Max :", self.max())

In [ ]:
A = [1,3,5,7,9,11]
stat_A = Stats(A)
stat_A.summary()

Mean : 6.0
Min : 1
Max : 11

# Question 9

In [ ]:
class EURUSD :
  def __init__(self, amount, currency):
    self.amount = amount
    self.currency = currency
  
  def to_EUR(self):
    if self.currency == 'USD' :
      self.currency = 'EUR'
      self.amount = self.amount / 1.18
      return self.amount
    else :
      return self.amount
  
  def to_USD(self):
    if self.currency == 'EUR' :
      self.currency = 'USD'
      self.amount = self.amount * 1.18
      return self.amount
    else :
      return self.amount

In [ ]:
money = EURUSD(3000, 'EUR')
print(money.amount, money.currency)
money.to_USD()
print(money.amount, money.currency)
money.to_EUR()
print(money.amount, money.currency)

3000 EUR
3540.0 USD
3000.0 EUR

# Question 10

In [3]:
class Cashier :
  def __init__(self, products) :
    self.products = products
  
  def recommend(self) :
    str_product = ', '.join(self.products)
    print(f'We have {str_product}.')

In [4]:
cashier = Cashier(['apple', 'banana', 'orange'])
cashier.recommend()

We have apple, banana, orange.

# Question 11

In [ ]:
class Warrior :
  def __init__(self, power, defense, HP) :
    self.power = power
    self.defense = defense
    self.HP = HP
  
  def attack(self, enemy) :
    if enemy.HP > 0 and self.HP > 0:
      enemy.HP = max(0, enemy.HP - max(0, self.power - enemy.defense))
    if enemy.HP == 0 :
      print("Enemy died")

In [ ]:
Warrior_A = Warrior(100,50,80)
Warrior_B = Warrior(60, 80, 120)
print('=== Before Attack ===')
print('Warrior_A HP =', Warrior_A.HP)  
print('Warrior_B HP =', Warrior_B.HP)
Warrior_A.attack(Warrior_B)
Warrior_B.attack(Warrior_A)
print('=== After Attack ===')
print('Warrior_A HP =', Warrior_A.HP)  
print('Warrior_B HP =', Warrior_B.HP)

=== Before Attack ===
Warrior_A HP = 80
Warrior_B HP = 120
=== After Attack ===
Warrior_A HP = 70
Warrior_B HP = 100

# Question 12

In [ ]:
class Point :
  def __init__(self, x, y):
    self.x = x
    self.y = y
    print('Current position : (%d,%d)' %(self.x, self.y))
  
  def move_up(self, d):
    self.y = self.y + d
    print('Current position : (%d,%d)' %(self.x, self.y))

  def move_down(self, d):
    self.y = self.y - d
    print('Current position : (%d,%d)' %(self.x, self.y))

  def move_left(self, d):
    self.x = self.x - d
    print('Current position : (%d,%d)' %(self.x, self.y))

  def move_right(self, d):
    self.x = self.x + d
    print('Current position : (%d,%d)' %(self.x, self.y))

In [ ]:
A = Point(0,0)
A.move_up(20)
A.move_left(23)
A.move_down(65)
A.move_right(50)

Current position : (0,0)
Current position : (0,20)
Current position : (-23,20)
Current position : (-23,-45)
Current position : (27,-45)

# Question 13

In [11]:
class Businessman :
  def __init__(self, HP, money, happiness):
    self.HP = HP
    self.money = money
    self.happiness = happiness
    self.report()
  
  def work(self):
    self.money = self.money + 20
    self.happiness = self.happiness + 10
    self.HP = self.HP - 10
  
  def sleep(self):
    self.money = self.money - 10
    self.HP = self.HP + 20
    self.happiness = self.happiness + 10
  
  def play(self):
    self.happiness = self.happiness + 20
    self.HP = self.HP - 10
    self.money = self.money - 10
  
  def report(self):
    print('HP = ', self.HP, ', Money = ', self.money, ', Happiness = ', self.happiness)

In [12]:
John = Businessman(100,100,100)
John.work()
John.report()
John.play()
John.report()
John.sleep()
John.report()

HP =  100 , Money =  100 , Happiness =  100
HP =  90 , Money =  120 , Happiness =  110
HP =  80 , Money =  110 , Happiness =  130
HP =  100 , Money =  100 , Happiness =  140

# Question 14

In [7]:
class Driver :
  def __init__(self, HP, generated_money):
    self.HP = HP
    self.generated_money = generated_money
  
  def drive(self):
    self.HP = self.HP - 10
    self.generated_money = self.generated_money + 10
  
  def care(self):
    self.HP = self.HP + 10
    self.generated_money = self.generated_money - 10
  
  def report(self):
    print('HP = ', self.HP, ', Generated Money = ', self.generated_money)

In [8]:
driver_A = Driver(100,100)
driver_A.drive()
driver_A.report()
driver_A.care()
driver_A.report()

HP =  90 , Generated Money =  110
HP =  100 , Generated Money =  100

# Question 15

In [ ]:
class Tree :
  def __init__(self, height, width, generated_money) :
    self.height = height
    self.width = width
    self.generated_money = generated_money
  
  def feed_A(self) :
    self.generated_money = self.generated_money - 10
    self.width = self.width + 12
  
  def feed_B(self) :
    self.generated_money = self.generated_money - 8  
    self.height = self.height + 10
  
  def sell(self) :
    self.generated_money = self.generated_money + self.width * self.height ** 0.8
    print('Width =', self.width,', Height =', self.height)
    print('Generated money =', self.generated_money)

In [ ]:
tree_A = Tree(10,10, 1000)
tree_A.feed_A()
tree_A.feed_B()
tree_A.sell()

Width = 22 , Height = 20
Generated money = 1223.683319527346